<a href="https://colab.research.google.com/github/Bhatss/BT---Advanced-Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#defining a function

def say_hello():
    print("Hello user")

say_hello()

In [ ]:
def say_hello(name):
    print(f"Hello {name}")

say_hello("Sachi")

In [ ]:
def say_hello(name):
    print("Hello" + name)

say_hello("Sachi")

In [ ]:
#When you write a string in print, need to be quote, int comes as int.
def say_hello(name, age):
    print(f"Hello {name}, you are {age}")

say_hello("Sachi", 3)

In [ ]:
#Return
def cube(a):
    return a*a*a
cube(8)

In [ ]:
#If statements and comparisons
def max_num(a,b,c):
    if a < b and b > c:
        return b
    elif a > b and a > c:
        return a
    else:
        return c
max_num(98,2,35)

In [ ]:
#Dictionaries are used to store key value pairs
month_conversion = {"Jan" : "1", "Feb" : "2", "March" : "3"}
print(month_conversion)
print(month_conversion["March"])
print(month_conversion.get("Jan"))
print(month_conversion.get("May"))

In [ ]:
#Simple Greeting Function
def say_hello(name):
    print(f"Hello {name}")

say_hello("Sachi")

Hello Sachi

In [ ]:
#Calculate Area of a Circle
#When doing raised to use ** instead of ^
import math

def calculate_area(radius):
  area = math.pi*(radius**2)
  print(round(area,2))

calculate_area(3)

28.27

In [ ]:
#Find Maximum of Three Numbers
#Ideally the input will be a list of numbers and the function will calculate the max.

def maximum(nums):
  max_num = nums[0]
  for num in nums:
    if num > max_num:
      max_num = num
  return max_num

nums = [19,258, 2865, 63, 720, 155363]
print(maximum(nums))

155363

In [ ]:
#Temperature Conversion: Create a function called celsius_to_fahrenheit(celsius) that takes a temperature in Celsius
# and converts it to Fahrenheit using the formula F = (C * 9/5) + 32.

def celsius_to_fahrenheit(celsius):
  print((celsius * 9/5) + 32)

celsius_to_fahrenheit(25)

77.0

In [ ]:
#Check for Prime Number: Write a function called is_prime(number) that checks whether a given number is prime or not.
# def is_prime(number):
#   if number % 2 > 0:
#     print(f"{number} is a prime number.")
#   else:
#     print(f"{number} is not a prime number.")

# is_prime(80)

def is_prime(number):
  if number <= 1:
    return False
  for n in range(2, number):
    if number % n == 0:
      return False
      print(f"{n} is not a prime number.")
    #else:
      #print(f"{n} is a prime number.")
  return True

is_prime(7)

#Give this another try.

True

In [ ]:
# Check for Prime Number, try 2
def is_prime(number):
  if number <= 1:
    return False
  for i in range(2, int(number ** 0.5) + 1):
    if number % i == 0:
      return False
  return True

print(is_prime(13))

True

In [ ]:
#Fibonacci Sequence: Create a function called fibonacci(n) that returns the first n numbers in the Fibonacci sequence.
#0 1 1 2 3 5 8 13 21 34 ...
def fibonacci(n):
  fib_seq = [0,1]
  for f in range(2,n):
    fib_seq.append(fib_seq[f-1] + fib_seq[f-2])
  return fib_seq

fibonacci(5)

[0, 1, 1, 2, 3]

In [ ]:
#Count Vowels in a String.
def vowels(word):
  a = 0
  for x in word:
    if x in "aeiou":
      a += 1
  print(a,"\n")
vowels("sachitha")

def vowels(word):
  for x in word:
    a = 0
    if x in "aeiou":
      a += 1
      print(a)
vowels("sachitha")

3

1
1
1

In [ ]:
#Count Vowels in a String. try 2
def count_vowels(word):
  vowels = "aeiouAEIOU"
  count = 0
  for x in word:
    if x in vowels:
      count += 1
  return count

print(count_vowels("sachitha"))

3

In [ ]:
#Palindrome Checker.
#To reverse something its just ::-1
def pali(word):
  return word == word[::-1]

print(pali("malayalam"))
print(pali("tacocat"))
print(pali("Miss"))

True
True
False

In [ ]:
#Factorial of a Number: Write a function called factorial(n) that returns the factorial of a given number n.
def factorial(n):
  x = 1
  for n in range(x, n+1):
    x = x * n
  return x

factorial(5)

120

In [ ]:
from re import I
#Sum of Even Numbers: Create a function called sum_even_numbers(n) that returns the sum of all even numbers from 1 to n.
def sum_even_numbers(n):
  x = []
  y = 0
  for n in range (1,n+1):
    if n % 2 == 0:
      x.append(n)
  return x
  for i in x:
    y += i
  return y

sum_even_numbers(10)

[2, 4, 6, 8, 10]

In [ ]:
#Sum of Even Numbers: Create a function called sum_even_numbers(n) that returns the sum of all even numbers from 1 to n.
def sum_even_numbers(n):
  even_numbers = [x for x in range(2,n+1,2)]
  y = sum(even_numbers)
  return even_numbers, y

sum_even_numbers(10)

([2, 4, 6, 8, 10], 30)